<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 查询时，关闭关联对象即时加载以提高性能 -->
		<setting name="lazyLoadingEnabled" value="true" />
	</settings>

	<typeAliases>
		<package name="my.test.web.practice.entity" />
	</typeAliases>

	<plugins>
		<plugin interceptor="my.test.web.practice.utils.PageHelper"></plugin>
	</plugins>
</configuration>